<div class="col-xs-4">
    <label>Select your host</label>
    <%= select_tag('onsite_interpreting_test_host', options_for_select(hosts)) %>
    <%= link_to 'Run View List Test', '', id: 'onsiteInterpretingViewListTest', class: 'btn btn-primary', method: :post, remote: true %>
</div>

<script>
        $('#onsiteInterpretingViewListTest').on('click', function () {
            $('#onsiteInterpretingTestResultsLoad').show();
            var host_url = $('#onsite_interpreting_test_host :selected').text();
            console.log('sending host: ',host_url);
            event.preventDefault();
            $.ajax({
                url: '<%=onsite_interpreting_test_path %>',
                method: 'POST',
                data: {
                    host_url: host_url
                },
                success: function() {
                    console.log('Successful!');
                },
                error: function(error) {
                    console.log('error: ', error.status);
                }
            });
        });
</script>
<br>
<br>
<div class="col-xs-4">
    <label>Select your host</label>
    <%= select_tag('add_onsite_interpreting_test_host', options_for_select(hosts)) %>
    <%= link_to 'Run Add Onsite Interpreting Request Test', '', id: 'addOnsiteInterpretingRequestTest', class: 'btn btn-primary', method: :post, remote: true %>
</div>

<script>
        $('#addOnsiteInterpretingRequestTest').on('click', function () {
            $('#onsiteInterpretingTestResultsLoad').show();
            var host_url = $('#add_onsite_interpreting_test_host :selected').text();
            console.log('sending host: ',host_url);
            event.preventDefault();
            $.ajax({
                url: '<%=add_onsite_interpreting_test_path %>',
                method: 'POST',
                data: {
                    host_url: host_url
                },
                success: function() {
                    console.log('Successful!');
                },
                error: function(error) {
                    console.log('error: ', error.status);
                }
            });
        });
</script>
<br>
<br>
<div class="col-xs-4">
    <label>Select your host</label>
    <%= select_tag('edit_onsite_interpreting_test_host', options_for_select(hosts)) %>
    <%= link_to 'Run Edit Onsite Interpreting Request Test', '', id: 'editOnsiteInterpretingRequestTest', class: 'btn btn-primary', method: :post, remote: true %>
</div>

<script>
        $('#editOnsiteInterpretingRequestTest').on('click', function () {
            $('#onsiteInterpretingTestResultsLoad').show();
            var host_url = $('#edit_onsite_interpreting_test_host :selected').text();
            console.log('sending host: ',host_url);
            event.preventDefault();
            $.ajax({
                url: '<%=edit_onsite_interpreting_test_path %>',
                method: 'POST',
                data: {
                    host_url: host_url
                },
                success: function() {
                    console.log('Successful!');
                },
                error: function(error) {
                    console.log('error: ', error.status);
                }
            });
        });
</script>
<br>