<div class="col-xs-4">
    <label>Select your host</label>
    <%= select_tag('login_test_host', options_for_select(hosts)) %>
    <%= link_to 'Run Simple Login Test', '', id: 'loginTest', class: 'btn btn-primary', method: :post, remote: true %>
</div>

<script>

        $('#loginTest').on('click', function () {
            $('#loginTestResultsLoad').show();
            var host_url = $('#login_test_host :selected').text();
            console.log('sending host: ',host_url);
            event.preventDefault();
            $.ajax({
                url: '<%= user_session_login_test_path %>',
                method: 'POST',
                data: {
                    host_url: host_url
                },
                success: function() {
                    console.log('Successful!');
                },
                error: function(error) {
                    console.log('error: ', error.status);
                }
            });
        });
</script>
<br>
<br>
<div class="col-xs-4">
    <label>Select your host</label>
    <%= select_tag('reset_password_test_host', options_for_select(hosts)) %>
    <%= link_to 'Run Profile - Password Reset Tests', '', id: 'resetPasswordTest', class: 'btn btn-primary', method: :post, remote: true %>
</div>
<script>

        $('#resetPasswordTest').on('click', function () {
            $('#loginTestResultsLoad').show();
            var host_url = $('#reset_password_test_host :selected').text();
            console.log('sending host: ',host_url);
            event.preventDefault();
            $.ajax({
                url: '<%= user_reset_password_test_path %>',
                method: 'POST',
                data: {
                    host_url: host_url
                },
                success: function() {
                    console.log('Successful!');
                },
                error: function(error) {
                    console.log('error: ', error.status);
                }
            });
        });
</script>
